/*!
Theme Name: AyaCoffeeShop
Description: AyaCoffeeShopPro is a fully responsive WordPress Theme. Features include a built-in Slider, Custom Logo, Multi-level Drop-down Menu, Custom Background, Full-Width Page Template, Footer Widgets Areas, Footer Menu, Footer Copyright Text, Search Engine Optimized, Multiple Browsers Support, Translation-Ready, etc. Fully Responsive, Customizable, and easy to use theme.
Theme URI: https://ayatemplates.com/product/ayacoffeeshop
Author: ayatemplates
Author URI: https://ayatemplates.com
Version: 1.0.2
Text Domain: ayacoffeeshop
Tags: blog, two-columns, right-sidebar, custom-logo, custom-background, custom-header, custom-menu, featured-images, threaded-comments, translation-ready, sticky-post, theme-options, footer-widgets, full-width-template, editor-style
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* general styles */
body {
	font-family:"Yanone",Arial,Helvetica,sans-serif;
	font-size:13px;
	margin:0;
	padding:0;
	background-color:#FFFFFF;
	color:#000000; 
	width:100%;
}

#body-content-wrapper {
	position:relative;
	overflow:hidden;
}

#global-content-wrapper,
#main-content-wrapper {
	background-color:#FFFFFF;
}

input, select, textarea, button, #main .button {
	font-family:inherit;
}

button {
	cursor:pointer;
}

body:before {
	content: none !important;
}

a {
	text-decoration:none;
	outline:none;
	color:#753f00;
}

a:hover {
	color:#422f20;
}

a img{
	outline:none;
}

p {
	padding:3px 0 3px 0;
	margin:0;
}

img {
	border:0;
	outline:0;
}

#global-content-wrapper img,
#main-content-wrapper img,
#footer-main img {
	max-width:100%;
	height:auto;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#global-content-wrapper a:hover img,
#main-content-wrapper a:hover img,
#footer-main a:hover img {
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
	opacity:0.7;
}

h1, h2, h3, h4, h5, h6{
	font-weight:400;
	margin:0;
	color:#753f00; 
}
	
h1 {
	font-size:24px;
	padding:10px 0 3px 0;
}

h2 {
	font-size:22px;
	padding:5px 0 0 0;
}

h3 {
	font-size:20px;
	padding:8px 0 5px 0;
}

h4 {
	font-size:18px;
	padding:2px 0 1px 0;
}

h5 {
	font-size:16px;
	padding:2px 0 1px 0;
}

h6 {
	font-size:14px;
	padding:2px 0 1px 0;
}

table {
    border-collapse: collapse;
}



td, th {
	padding:10px;
}

#wp-calendar,
#wp-calendar th,
#wp-calendar td {
	border:none;
}

#wp-calendar td,
#wp-calendar th {
	padding:0;
}


embed,
object,
video {
	margin-bottom: 24px;
	max-width: 100%;
}

video {
    width: 100% !important;
    height: auto !important;
}

.vimeo-iframe {
    margin-bottom:0;
}

.col iframe {
    max-width: 100%;
}

p > embed,
p > iframe,
p > object,
span > embed,
span > iframe,
span > object {
	margin-bottom: 0;
}


.custom-logo-link img {
	margin-right:10px;
}



#header-logo {
    display: flex;
    align-items: center;
}

#sidebar select{
	max-width:95%;
}

dt.gallery-icon:before {
	content:'';
}

#header-logo {
	position: relative;
	z-index: 1;
}

#header-logo h1 {
		padding:0;
	}
	
#header-main-fixed-container {
	transition: all 0.6s ease;
}

#slider-image-container {
	width:100%;
	height:100%;
	position:fixed;
}

.header-sticky {
  position:fixed;
  background-color: #f99fd8;
  width:100%;
  z-index:10000;
}

.header-sticky #header-top {
	display:none;
}

.header-sticky #site-identity a h1 {
	color:#FFFFFF;
}

#navmain li {
	padding:0;
}

ul > li {
	padding:3px 0;
	margin:0;
	list-style-type:none;
}

ol > li {
	padding:3px 0;
	margin:0;
}

ol {
	padding:0 0 0 30px;
}

ul {
	padding:0 0 0 15px;
}


.widget > ul,
.col > ul,
#sidebar > ul {
	padding-left:0;
}

/* header */
#header-main-fixed {
	min-height:40px;
	clear:both;
	width:100%;
	color:#000000;
	position:relative;
	top:0 !important;
	background-attachment:fixed;
}

#global-content-wrapper {
	padding-bottom:20px;
}

#global-content-wrapper,
#main-content-wrapper {
	position:relative;
	z-index:3;
}

#header-main-fixed a h1,
#header-main-fixed a {
	color:#f99fd8; 
}

#header-main-fixed a:hover {
	color:#422f20; 
}

#header-spacer {
	width:100%;
}

#header-content-wrapper {
	padding:0 2% 0 2%;
}

.item-arrow-down:after,
.item-arrow-up:after {
	font-family:'FontAwesome';
	font-size:12px;
}

.item-arrow-down:after {
	content:"\f107";
}

.item-arrow-up:after {
	content:"\f106";
}

.header-social-widget {
	display:inline-block;
}

.header-social-widget li {
	margin-right:0;
	display:inline;
}

#header-top {
	text-align:center;
	position:relative;
	z-index:1;
}

.cart-contents-icon:before {
	font-family:'FontAwesome';
	content:"\f07a";
	margin:0 2px 0 0;
}

.cart-contents-icon {
	float:right;
}

.search-form-icon:before {
	font-family:'FontAwesome';
	content:"\f002";
	margin:0 2px 0 0;
}

.search-form-icon {
	float:right;
}

#cart-popup-content {
	display:none;
	position:fixed;
	top:18px;
	z-index:5000;
	background-color:#ffffff;
	padding:10px !important;
	border:1px solid #f5f5f5;
}

#cart-popup-content .cart_list,
#cart-popup-content .total,
#cart-popup-content .buttons {
	float:left;
	clear:both;
}

#cart-popup-content .quantity,
#cart-popup-content .product_list_widget .amount {
	display:inline;
}

#hdrtop-searchform-subcontent:before {
	font-family:'FontAwesome';
	font-size:16px;
	float:left;
    height:26px;
    line-height:26px;
    text-align:center;
    width:26px;
	border-width:1px;
	border-style:solid;
	-webkit-border-radius:55px;
	-moz-border-radius:55px;
	-ms-border-radius:55px;
	-o-border-radius:55px;
	border-radius:55px;
	margin-right:10px;
}

#search-popup-content {
	display:none;
	position:fixed;
	top:18px;
	z-index:5000;
	background-color:#ffffff;
	padding:10px !important;
	border:1px solid #f5f5f5;
}

#hdrtop-searchform-subcontent {
	line-height:27px;
}

#hdrtop-searchform-subcontent button {
	padding-top:4px;
	padding-bottom:4px;
}

#hdrtop-cart-subcontent li {
	clear:both;
}

#navmain {
	margin:0;
	float:left;
	margin-top:-3px;
}

#navmain > div > ul > li > a, .cart-contents-icon, .search-form-icon {
	color:#000000;
}

#navmain > div > ul > li > a:hover, .cart-contents-icon:hover, .search-form-icon:hover {
	color:#753f00; 
}

#navmain a:hover {
	text-decoration:none;
}

.page-title {
	padding:5px 0 10px 10px !important;
}

article,
aside {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

/* main content */
#main-content,
#main-content-full,
#main {
	overflow:hidden;
	padding:10px 0 0 0;
}

#main-content > article:first-of-type h1 {
	margin-top:0;
	padding-top:0;
}

#main-content-full {
	overflow:hidden;
	margin:0 0 20px 2%;
	width:96%;
}

/* sidebar */
#sidebar {
	overflow:hidden;
	padding:10px 0 0 0;
}

#sidebar ul:not(.social-widget) > li:before,
article ul > li:before {
	content:"\f105";
	font-family:'FontAwesome';
	display:inline-block;
	margin:0 5px 10px 1px;
	opacity:0.7;
}

#sidebar > ul {
	margin-left:3px;
}

#sidebar .widget {
	margin-bottom:5px;
    clear: both;
}

.single-social-widget {	
	padding:1px 0 0 0;
	margin:1px 0 0 0;
	clear:both;
}

.single-social-widget p {
	margin-left:5px;
}

#infoTxt {
	padding:10px 0 10px 0;
}

article ul > li:before {
	font-family:'FontAwesome';
	content:"\f105";
	display:inline-block;
	text-align:center;
	margin:0 7px 7px 0;
}

article,
.additional-content {
	clear:both;
}

.separator {
	height:1px;
	margin:20px 1% 10px 0;
}

#footer-menu {
	clear:both;
	text-align:center;
	margin:15px 0;
}

#footer-menu ul,
#footer-menu li {
	display:inline;
	padding:0;
	margin:0;
}

#footer-menu li {
	margin-right:20px;
}

#footer-main {
	clear:both;
	background-color:#422f20; 
	color:#fcfdf8; 
	margin:0;
	padding:10px 2% 5px 2%;
	position:relative;
	z-index:4;
}

#footer-main a {
	color:#f99fd8; 
}

#footer-main a:hover {
	color:#daf38d; 
}

.footer-social-widget li {
	display:inline;
}

#footer-main input[type="text"] {
	width:130px;
	background-color:#fff;
}

.footer-social-widget a {
	display:inline-block;
	width:60px;
	height:60px;
	line-height:60px;
	text-align:center;
}

.footer-social-widget a:hover {
	text-decoration:none !important;
	-webkit-transform:rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.footer-social-widget a:before {
	font-size:24px;
}

.footer-social-widget li {
	margin-right:5px;
}

#footer-main .post-date {
	margin:0 0 0 14px;
}

.col ul:not(.social-widget) > li:before {
	font-family:'FontAwesome';
	font-style:normal;
	font-weight:normal;
	line-height:1;
	margin-right:5px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f105";
	opacity:0.7;
}

.col > ul {
	margin-left:3px;
}

.col li {
	margin-bottom:5px;
}

.col1a {
	float:none;
	width:96%;
	margin:5px 0 5px 0;
}

#footer-bottom {
	padding:20px 0 0 0;
	clear:both;
	text-align:center;
}

#fsocial {
	clear:both;
	padding:10px 0 5px 0;
	text-align:center;
}

#copyright {
	clear:both;
	text-align:center;
}

.social-widget,
.header-social-widget,
.footer-social-widget {
	list-style:none;
	padding:0;
	margin:0;
}

.social-widget li {
	margin-left:5px;
    margin-right:5px;
	display:inline-block;
}

.single-social-widget a:hover:before,
.social-widget li:hover a:before{
	display:inline-block;
	-webkit-transform:rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
	text-decoration:none;
}

.facebook16:before {
	content: "\f09a";
}

.facebook32:before {
	content: "\f082";
}

.google16:before {
	content: "\f0d5";
}

.google32:before {
	content: "\f0d4";
}

.instagram16:before,
.instagram32:before {
	content: "\f16d";
}

.linkedin16:before {
	content: "\f0e1";
}

.linkedin32:before {
	content: "\f08c";
}

.rss16:before {
	content: "\f09e";
}

.rss32:before {
	content: "\f143";
}

.tumblr16:before {
	content: "\f173";
}

.tumblr32:before {
	content: "\f174";
}

.twitter16:before {
	content: "\f099";
}

.twitter32:before {
	content: "\f081";
}

.youtube16:before {
	content: "\f167";
}

.youtube32:before {
	content: "\f166";
}

.pinterest16:before {
    content: "\f0d2";
}

.pinterest32:before {
    content: "\f0d3";
}

.vk16:before {
    content: "\f189";
}

.vk32:before {
    content: "\f189";
}

.flickr16:before {
    content: "\f16e";
}

.flickr32:before {
    content: "\f16e";
}

.vine16:before {
    content: "\f1ca";
}

.vine32:before {
    content: "\f1ca";
}

.facebook16:before,
.google16:before,
.instagram16:before,
.rss16:before,
.tumblr16:before,
.linkedin16:before,
.twitter16:before,
.youtube16:before,
.pinterest16:before,
.vk16:before,
.flickr16:before,
.vine16:before {
	font-family:'FontAwesome';
	font-size: 16px;
}

.facebook32:before,
.google32:before,
.instagram32:before,
.rss32:before,
.tumblr32:before,
.linkedin32:before,
.twitter32:before,
.youtube32:before,
.pinterest32:before,
.vk32:before,
.flickr32:before,
.vine32:before {
	font-family:'FontAwesome';
	font-size: 32px;
}

.header-social-widget a:before {
	font-size: 14px;
}

.header-social-widget a {
	margin-top:3px;
    border-radius: 50%;
    display: inline-block;
    font-size: 18px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    width: 28px;
}

.social32 {
	float:right;
	margin-right:10px;
}

.social32 a {
	width:32px;
	height:32px;
	display:inline-block;
}

.single-social-widget {
	clear:both;
	height:45px;
}

.single-social-widget .social32,
.single-social-widget p {
	float:left;
}

.single-social-widget p {
	line-height:32px;
}

input[type="text"],
input[type="email"],
input[type="url"],
textarea {
	border:1px solid #B2AEA3;
	padding:4px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

input[type="submit"],
button {
	font-size:14px;
}

input[type="submit"],
button,
.btn,
#main .button {
	padding:8px 12px;
	text-decoration:none;
	font-weight:normal;
	border:none;
	color:#ffffff;
	background-image: -ms-linear-gradient(top, #753f00 0%, #422f20 100%);
	background-image: -moz-linear-gradient(top, #753f00 0%, #422f20 100%);
	background-image: -o-linear-gradient(top, #753f00 0%, #422f20 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #753f00), color-stop(1, #422f20));
	background-image: -webkit-linear-gradient(top, #753f00 0%, #422f20 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#753f00', endColorstr='#422f20');
	background-image: linear-gradient(top, #753f00 0%, #422f20 100%);
	text-shadow:0 !important;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

input[type="submit"]:hover,
button:hover,
#main .button:hover,
.btn:hover {
	color:#ffffff;
	background-image: -ms-linear-gradient(top, #422f20 0%, #753f00 100%);
	background-image: -moz-linear-gradient(top, #422f20 0%, #753f00 100%);
	background-image: -o-linear-gradient(top, #422f20 0%, #753f00 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #422f20), color-stop(1, #753f00));
	background-image: -webkit-linear-gradient(top, #422f20 0%, #753f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#422f20', endColorstr='#753f00');
	background-image: linear-gradient(top, #422f20 0%, #753f00 100%);
	text-decoration:none;
}

.btn {
	margin-top:10px;
	display:inline-block;
}

#respond {
	clear:both;
}

#commentform input:before,
#commentform textarea:before {
	content:'\A';
	white-space:pre;
}

blockquote:before,
q:before {
	font-family:'FontAwesome';
	content: "\f10d";
	color:#DEDEDE;
	font-size:36px;
	float:left;
	margin:0 1% 0 0;
}

blockquote, figure {
	margin:0 1%;
}

.page-links, .post-links {
	padding:10px 0 3px 0;
	margin:0;
}

.navigation {
	float:left;
    margin:20px 0 0 0;
}

.navigation .current,
.navigation .page-dots,
.navigation .page-numbers {
	font-size:16px;
	text-align:center;
	display:inline-block;
	float:left;
}

.navigation .page-dots,
.navigation .page-numbers {
	padding:5px 11px;
	border:1px solid #dddddd;
	margin-right:10px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

.navigation .current,
.navigation .current:hover {
	text-decoration:none;
	background:#dddddd !important;
	text-align:center;
	margin-right:10px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

.navigation .page-numbers:hover {
	text-decoration:none;
	background:#fafafa;
	text-align:center;
}

.shop_table .product-remove {
	width:10%;
}

.shop_table .product-thumbnail {
	width:10%;
}

.shop_table .product-name {
	width:50%;
}

.shop_table .product-price {
	width:10%;
}

.shop_table .product-quantity {
	width:10%;
}

.shop_table .product-subtotal {
	width:10%;
}

/* homepage classes */
#home-cols {
	clear:both;
	padding:0 2%;
}

#top-widget {
	clear:both;
	padding:0 2%;
}

.bottom-widget,
.top-widget {
	clear:both;
	padding:0 2%;
}

.nav-links {
	padding-top:10px;
}

.nav-links .nav-previous {
	float:left;
	width:45%;
}

.nav-links .nav-previous:before {
	font-family:'FontAwesome';
	content:"\f100";
	margin-right:5px;
}

.nav-links .nav-next {
	float:right;
	width:45%;
}

.nav-links .nav-next:after {
	font-family:'FontAwesome';
	content:"\f101";
	margin-left:5px;
}

/* utilities classes */
.right {
	float:right;
}

.left {
	float:left;
}

.clear {
	clear:both;
}

.text-center {
	text-align:center;
}

.mt-10 {
	margin-top:10px;
}

.mb-10 {
	margin-bottom:10px;
}

.mt-20 {
	margin-top:20px;
}

.mb-20 {
	margin-bottom:20px;
}

.mt-30 {
	margin-top:30px;
}

.mb-30 {
	margin-bottom:30px;
}

.mt-40 {
	margin-top:40px;
}

.mb-40 {
	margin-bottom:40px;
}

.box-shadow-none {
	box-shadow:none !important;
}

.box-shadow-none img {
	box-shadow:none !important;
}

/* search form */
.search-wrapper {
	border:1px solid #B2AEA3;
	background-color:#ffffff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	padding-left:0 !important;
	display:inline-block;
}

.search-wrapper .search-textbox {
	border:none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

.search-wrapper  .search-button {
	color:#777777;
	background-color:#ffffff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	box-shadow: none;
	filter:none;
	background-image: none;
}

.search-wrapper  .search-button:before {
	font-family:'FontAwesome';
	content:"\f002";
}

/* contact from */
.contact-error {
	color:#753f00;
}

.contact-success {
	border:1px solid #5D7716;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:5px 1%;
	width:50%;
}

/* comments */
#comments {
	margin-top:25px;
	font-size:18px;
	float:left;
	clear:both;
	padding:0 5px 1px 1px;
}

.commentlist {
	list-style:none;
	margin:0;
	padding:0;
	clear:both;
}

.commentlist li {
	list-style:none;
}

.commentlist li .pingback .comment-author {
	padding:0 170px 0 0;
}

.commentlist li div .vcard {
	font-weight:bold;
	font-size:14px;
	line-height:16px;
}

.commentlist li div .vcard cite .fn {
	font-style:normal;
	font-size: 11px;
}

.commentlist li div .vcard cite .fn a .url {
	color:#cc0000;
	text-decoration:none;
}

.commentlist li div .vcard cite .fn a .url:hover {
	color:#000;
}

.commentlist li div .vcard img .avatar {
	background:#fff;
	border:1px solid #aaa;
}

.commentlist li div .comment-meta a {
	color:#205B87;
	text-decoration:none;
}

.commentlist li p {
	font-weight:normal;
	line-height:1.2;
	margin:5px 0 12px;
}

.commentlist li ul {
	font-weight:normal;
	font-size:12px;
	line-height:16px;
	list-style:square;
	margin:0 0 12px;
	padding:0;
}

.commentlist li div .reply {
	background:#999;
	border:1px solid #666;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	color:#fff;
	font:bold 9px/1 helvetica,arial,sans-serif;
	padding:6px 5px 4px;
	text-align:center;
	width:36px;
}

.commentlist li div .reply:hover {
	background:#cc0000;
	border:1px solid #cc0000;
}

.commentlist li div .reply a {
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
}

.commentlist li ul.children {
	list-style:none;
	margin:12px 0 0;
	text-indent:0;
}

.commentlist li ul .children li .depth-2 {
	margin:0 0 3px;
}

.commentlist li ul .children li .depth-3 {
	margin:0 0 3px;
}

.commentlist li ul .children li .depth-4 {
	margin:0 0 3px;
}

.commentlist li ul .children li .depth-5 {
	margin:0 0 7px;
}

.commentlist ul .children li .odd {
	background:#fff;
}

.commentlist .odd {
	background:#f6f6f6;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

.commentlist li .pingback div .vcard {
	padding:0 170px 0 0;
}

.comment-body {
	padding-left:0;
}

#reply-title {
	margin-top:25px;
	text-align:center;
	font-size:18px;
	float:left;
	clear:both;
	padding:0 5px 0 1px;
}

#commentform {
	clear:both;
	padding-top:5px;
	padding-left:2px;
}

.entry-title {
	clear:both;	
}

.before-content,
.after-content,
.custom-after-content,
.page-after-content {
	padding-top:5px;
	padding-bottom:5px;
	clear:both;
}

.after-content,
.custom-after-content,
.page-after-content {
	border-top:2px dashed #422f20;
	height: 5px; 
	margin-top:15px;
	padding-bottom: 5px;
	width: 100%;
}

.aside-icon:before,
.audio-icon:before,
.author-icon:before,
.category-icon:before,
.clock-icon:before,
.comments-icon:before,
.edit-icon:before,
.gallery-icon:before,
.image-icon:before,
.link-icon:before,
.quote-icon:before,
.tags-icon:before,
.video-icon:before,
.quote-content:before,
.quote-content:after,
.sticky h1:before {
	font-family:'FontAwesome';
	margin:0;
}

.aside-icon,
.audio-icon,
.author-icon,
.category-icon,
.clock-icon,
.comments-icon,
.edit-icon,
.gallery-icon,
.image-icon,
.link-icon,
.quote-icon,
.tags-icon,
.video-icon,
.quote-content,
.quote-content:after,
.sticky h1 {
	margin-right:7px;
}

.aside-icon:before {
	content: "\f0f6";
}

.audio-icon:before {
	content: "\f001";
}

.author-icon:before {
	content:"\f007";
}

.category-icon:before {
	content:"\f115";
}

.clock-icon:before {
	content:"\f017";
}

.comments-icon:before {
	content: "\f0e5";
}

.edit-icon:before {
	content:"\f040";
	margin-right:2px;
}

.gallery-icon:before {
	content:"\f03e";
}

.image-icon:before {
	content: "\f03e";
}

.link-icon:before {
	content: "\f0c1";
}

.quote-icon:before {
	content: "\f10d";
}

.tags-icon:before {
	content: "\f02c";
}

.video-icon:before {
	content: "\f008";
}

/* thumbnails */
img.wp-post-image {
	margin:0 5px 5px 0;
}

/* calendar widget */
.widget_calendar {
	float:left;
}

#wp-calendar caption {
	color:#333;
	font-size:12px;
	padding:5px;
}

#wp-calendar thead,
#wp-calendar tfoot {
	font-size:10px;
}

#wp-calendar th {
	border-bottom:3px solid #ccc;
}

#wp-calendar tbody {
	color:#aaaaaa;
}

#wp-calendar tbody td {
	text-align:center;
}

#wp-calendar tbody #today {
	background: #c5c5c5;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	-ms-border-radius:50px;
	-o-border-radius:50px;
	border-radius:50px;
}

#wp-calendar tbody .pad {
	background:none;
}

#wp-calendar tfoot #next {
	font-size:10px;
	text-transform:uppercase;
	text-align:right;
}

#wp-calendar tfoot #prev {
	font-size:10px;
	text-transform:uppercase;
	padding-top:10px;
}

#wp-calendar tbody td {
	padding:8px;
}

.quote-content:before {
	content: "\f10d";
}

.quote-content:after {
	content: "\f10e";
}

.scrollup:before {
	content:"\f106";
	display:inline-block;
	vertical-align:middle;
	font:30px 'FontAwesome';
	color: rgba(255,255,255,.6) !important;
}

.scrollup {
	width: 40px;
	height: 40px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	-webkit-border-top-left-radius:2px;
	-moz-border-top-left-radius:2px;
	-ms-border-top-left-radius:2px;
	-o-border-top-left-radius:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-top-right-radius:2px;
	-ms-border-top-right-radius:2px;
	-o-border-top-right-radius:2px;
	border-top-right-radius:2px;
	position: fixed;
	bottom: 0;
	right:2%;
	display:none;
	color:#CBC8B5;
	background-color:#555555 !important;
	z-index:5001;
	line-height:34px;
	text-align:center;
	text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.25);
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.25);
	box-shadow: 0 1px 2px rgba(0,0,0,.25);
}

.scrollup:hover {
	background-color:#4A4C4D !important;
	color:#858282 !important;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.tagcloud {
    margin-bottom: 20px;
}

.wp-caption {
	max-width:95%;
    padding:4px 4px 4px 4px;
	clear:both;
}

.wp-caption p.wp-caption-text { 
	background-color:#858581;
	color:#fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding:2px 4px 2px 4px;
}

.sticky {
}

.sticky h1:before {
	content:"\f0c6";
}

.gallery-caption {
}

.bypostauthor {
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.widget_tishonator_advancedtextcontent_widget {
	clear:both;
}

.post-date {
	display:block;
	margin:-5px 0 10px 13px;
}

.advanced-text-icon {
	text-align:center;
	font-size:18px;
}

.advanced-text-content {
	padding:0;
	font-size:16px;
}

.advanced-text-button-wrapper {
	margin-bottom:5px;
	text-align:center;
}

#page-header {
	background-image:url('images/pageheader.png');
	background-repeat: repeat;
	-webkit-box-shadow: inset 0 -1px 1px -1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0 -1px 1px -1px rgba(0, 0, 0, 0.25);
	box-shadow: 0 -1px 1px -1px rgba(0, 0, 0, 0.25) inset;
	padding:20px 2% 20px 2%;
	background-color:#FFFFFF;
}

#page-header,
#page-header h1 {
	color:#422f20;
}

#page-header a {
	color:#422f20;
}

#page-header a:hover {
	color:#753f00;
}

#page-header h1 {
    display:inline;
    margin:0;
	padding:0;
}

#breadcrumbs {
	list-style:none;
	overflow:hidden;
	font-size:12px;
	float:right;
	margin-top:10px;
	margin-right:15px;
}

#breadcrumbs li{
    float:left;
    margin-left:7px;
}

#breadcrumbs li:first-of-type{
	margin-left:0;
}
 
.home-title {
	padding-top:10px;
}

blockquote {
	margin-bottom:10px;
}

.home-title,
.home-col-title {
	font-weight:normal;
	font-size:20px;
	padding-top:15px;
	letter-spacing:1px;
	float:none;
	clear:both;
}

.home-col-title .advanced-text-icon {
    font-size:inherit !important;
    text-shadow:none !important;
}

.home-after-title,
.home-col-after-title {
	clear:both;
}

.sidebar-title {
	padding:0 5px 1px 1px;
	margin-bottom:-2px;
	font-weight:normal;
	font-size:18px;
	letter-spacing:0.5px;
	float:left;
	clear:both;
}

.sidebar-title:not(:first-child) {
	margin-top:15px;
	margin-bottom:-2px;
}

.sidebar-before-title {
	clear:both;
}

.sidebar-after-title {
	clear:both;
	height:1px;
	margin-bottom:5px;
	width:100%;
}

.footer-title {
	padding:0 5px 1px 1px;
	margin-bottom:-2px;
	font-size:20px;
	font-style: italic;
	font-weight: bold;
	border-bottom:4px solid #753f00;
	color:#eeeeee;
	letter-spacing:1px;
	float:left;
}

.footer-after-title {
	clear:both;
	height:1px;
	background:#cccccc;
	margin-bottom:5px;
	width:100%;
}

.author-info-box {
	clear:both;
	padding-left:10px;
}

.author-info-box p {
	padding-left:100px;
	line-height:25px;
}

.author-info-box ul {
	padding-left:100px;
}

.author-title {
	margin-top:25px;
	font-size:18px;
	clear:both;
	float:left;
	padding:0 5px 0 1px;
	margin-bottom:5px;
}

.author-avatar {
	float:left;
}

.avatar {
	-webkit-border-radius:45px;
	-moz-border-radius:45px;
	border-radius:45px;
}

.social-sharing-box {
	clear:both;
}

.social-sharing-box ul li{
	margin-right:0;
}

.social-sharing-title {
	margin-top:25px;
	font-size:18px;
	clear:both;
	float:left;
	padding:0 5px 0 1px;
	margin-bottom:5px;
}

.page-entry-title {
	padding-left:0 !important;
}

/* custom page templates classes */
.custom-entry-title {
	padding-left:0 !important;
}

.wide-content article {
	width:auto;
}

.wide-content  h1,
.wide-content .content,
.wide-content .after-content,
.wide-content .quote-content {
	padding-left:0;
}

#main-content-left-sidebar-wrapper {
	
}

.page-after-content,
.after-content {
	clear:both;
}

.feature-content li {
	line-height:24px;
}

.feature-content li:before {
	content: "\f005";
	font-family:'FontAwesome';
	margin-right:5px;
}

.gallery {
	margin: 0 -1.1666667% 1.75em;
}

.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-1 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 25%;
}

.gallery-columns-4 .gallery-item {
	max-width: 20%;
}

.gallery-columns-5 .gallery-item {
	max-width: 15%;
}

.gallery-columns-6 .gallery-item {
	max-width: 13%;
}

.gallery-columns-7 .gallery-item {
	max-width: 11%;
}

.gallery-columns-8 .gallery-item {
	max-width: 10%;
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

.post-links .left,
.post-links .right {
    width: 40%;
}

.fb_iframe_widget span {
	display: block !important;
}

#pin-save-button span {
	margin-top: -19px !important;
	position: absolute;
}

#slider-image-container {
	width:100%;
	height:100%;
	position:fixed;
	background-repeat:no-repeat;
	background-position:center;
}

/* Large Resolution */
@media screen and (min-width: 800px) {
	
	#main-content,
	#main {
		float:left;
		margin:0 0 20px 2%;
		width:63%;
	}

	#sidebar {
		float:left;
		margin:10px 2% 30px 2%;
		width:30%;
		padding:0;
	}
	
	.header-social-widget li {
		margin-left:10px;
	}
	
	#header-logo {
		float:left;
		margin-top:5px;
	}

	#navmain div {
		padding:0 0 0 20px;
	}
	
	#navmain ul {
		padding:0;
		margin:0;
		white-space:nowrap;
	}
	
	#navmain ul  li {
		position:relative;
		float:left;
	}
	
	#navmain > div > ul > li {
		margin-right:5px;
	}
	
	#navmain ul a {
		padding:17px 5px;
		font-size:14px;
		white-space:nowrap;
		display:inline-block;
	}

	#navmain ul ul li:hover > a {
		background-color:#753f00;
		color:#c2d7d8;
	}
	
	#navmain ul ul ul,
	#navmain ul ul  ul li:first-of-type,
	#navmain ul ul ul li:first-of-type > a {
		-webkit-border-top-left-radius:3px;
		-moz-border-top-left-radius:3px;
		border-top-left-radius:3px;
		-webkit-border-top-right-radius:3px;
		-moz-border-top-right-radius:3px;
		border-top-right-radius:3px;
	}
	
	#navmain ul ul,
	#navmain ul ul li:last-of-type,
	#navmain ul ul li:last-of-type > a {
		-webkit-border-bottom-left-radius:3px;
		-moz-border-bottom-left-radius:3px;
		border-bottom-left-radius:3px;
		-webkit-border-bottom-right-radius:3px;
		-moz-border-bottom-right-radius:3px;
		border-bottom-right-radius:3px;
	}

	#navmain ul ul {
		list-style:none;
		margin:0;
		padding:0;
		position:absolute;
		z-index:5000;
		display:none;
		color:#422f20;
		background-color:#c2d7d8;
	}

	#navmain ul ul:not(.cart_list) {
        opacity:0;
    }

	#navmain ul li:hover > ul {
       display:block;
       opacity:1;
       animation: opacity 700ms ease-in-out normal;
       -moz-animation: opacity 700ms ease-in-out normal;
       -ms-animation: opacity 700ms ease-in-out normal;
       -o-animation: opacity 700ms ease-in-out normal;
       -webkit-animation: opacity 700ms ease-in-out normal;    
    }

    @keyframes opacity {
        from { opacity:0; }
        to { opacity: 1; }
    }
    @-moz-keyframes opacity {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    @-ms-keyframes opacity {
        from {opacity:0; }
        to { opacity: 1; }
    }
    @-o-keyframes opacity {
        from {opacity:0; }
        to { opacity: 1; }
    }
    @-webkit-keyframes opacity {
        from { opacity:0; }
        to { opacity: 1; }
    }

	#navmain ul li ul a {
		display:block;
	}
	
	#navmain ul ul ul {
		top:-1px;
		left:100%;
	}
	
	#navmain ul ul li {
		float:none;
	}
	
	#navmain ul ul a {
		padding:9px 35px 9px 10px;
		-webkit-box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, 0.25);
		box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.15) inset;
		color: #422f20;
	}
	
	.level-one-sub-menu > a:after {
		content: "\f107";
		font-family:'FontAwesome';
		margin:0 0 0 5px;
	}
	
	.level-two-sub-menu > a:before {
		content: "\f105";
		font-family:'FontAwesome';
		position:absolute;
		right:10px;
		top:9px;
	}
	
	/* columns */
	.col2a,
	.col2b {
		float:left;
		width:47%;
	}
	
	.col2a {
		margin:0 4% 5px 0;
	}
	
	.col2b {
		margin:0 0 5px 0;
	}
	
	.col3a,
	.col3b,
	.col3c {
		float:left;
		width:30.6%;
	}
	
	.col3a,
	.col3b {
		margin:0 3.5% 5px 0;
	}
	
	.col3c {
		margin:0 0 5px 0;
	}
	
	.col4a,
	.col4b,
	.col4c,
	.col4d {
		width:22%;
		float:left;
	}
	
	.col4a,
	.col4b,
	.col4c {
		margin:0 3.5% 5px 0;
	}

	.col4d {
		margin:0 0 5px 0;
	}

	/* comments */
	.commentlist li div .vcard img .avatar {
		padding:5px;
		left:7px;
		position:absolute;
		top:7px;
	}
	
	.commentlist li {
		margin:0 0 10px;
		padding:5px 10px;
		position:relative;
	}
	
	.commentlist li div.comment-meta {
		font-weight:bold;
		font-size:10px;
		line-height:16px;
		position:absolute;
		right:10px;
		text-align:right;
		top:5px;
	}
	
	#commentform input[type="text"],
	#commentform input[type="email"] {
		width:145px;
		padding-top:7px;
		padding-bottom:7px;
	}
	
	#commentform input[type="url"] {
		width:100%;
		padding-top:7px;
		padding-bottom:7px;
	}
	
	#commentform textarea {
		width:470px;
		display:block;
		padding-top:7px;
		padding-bottom:7px;
		height:150px;
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url  {
		width:150px;
		float:left;
	}

	.comment-form-cookies-consent {
		clear:both;
	}

	.form-submit {
		clear:both;
	}
	
	.comment-form-author,
	.comment-form-email	{
		margin-right:10px;
	}
	
	.comment-form-comment {
		clear:both;
		width:100%;
	}
	
	#comment {
		width:100%;
	}
	
	/* contact form */
	#contact-form {
		padding-top:10px;
	}

	#contact-form input[type="text"],
	#contact-form input[type="email"]{
		width:145px;
		padding-top:7px;
		padding-bottom:7px;
	}
	
	#contact-form textarea {
		width:465px;
		display:block;
		padding-top:7px;
		padding-bottom:7px;
		height:150px;
	}

	.contact-form-author,
	.contact-form-email {
		width:150px;
		float:left;
	}

	.contact-form-author,
	.contact-form-email	{
		margin-right:10px;
	}

	.contact-form-message {
		clear:both;
		width:100%;
	}
	
	#sidebar #searchsubmit {
		padding-top:7px;
		padding-bottom:7px;
	}
}

/* Medium Resolution */
@media screen and (max-width: 799px) {
	
	h1 {
		font-size:24px;
	}
	
	.cart-contents-icon {
		float: right;
		font-size: 17px;
		position: absolute;
		right: 2%;
		top: 5px;
		visibility: visible !important;
		width: auto !important;
	}
	
	.cart-contents-icon:hover {
		text-decoration:none !important;
	}
	
	.search-form-icon {
		float: right;
		font-size: 16px;
		position: absolute;
		right: 2%;
		margin-right:25px;
		top: 5px;
		visibility: visible !important;
		width: auto !important;
	}
	
	.search-form-icon:hover {
		text-decoration:none !important;
	}

	#hdrtop-searchform-subcontent {
		font-size:18px;
		letter-spacing:inherit;
	}

	#header-main-fixed {
		padding-bottom:0;
		top:0;
	}

	#main-content,
	#main {
		float:none;
		clear:both;
		margin:0 2% 10px 2%;
		width:95%;
	}

	#sidebar {
		float:none;
		clear:both;
		margin:0 2% 10px 2%;
		width:95%;
	}
	
	#header-logo {
		margin-left:5px;
	}
	
	#header-title {
		float:left;
		margin:0 0 0 10%;
	}

	#header-title div {
		float:left;
	}
	
	#header-title a {
		font-size:24px;
		text-shadow:2px 1px 1px #999;
	}

	#header-title img {
		float:left;
		margin:0;
	}

	#header-title strong {
		color:#444;
		font-weight:normal;
		display:block;
	}
	
	#navmain {
		cursor:pointer;
		float:left;
		margin-top:0;
		position: relative;
		z-index: 1;
	}
	
	#navmain > div > ul > li a {
		color: #65810f;
	}
	
	#navmain div:first-of-type:before {
		font:36px 'FontAwesome';
		content:"\f0c9";
		margin:0 0 0 5%;
		color:#545454;
		text-shadow:1px 1px 2px rgba(0,0,0,0.25);
	}

	#navmain div {
		clear:both;
		text-align:left;
	}

#navmain ul {
		padding:0;
	}
				
	#navmain div > ul {
		color:#000000 !important;
		background-color: #c2d7d8;
		display:none;
		list-style:none;
		margin:0 0 0 2px;
		padding:0 0 5px 0;
		position:absolute;
		z-index:5000;
		overflow:hidden;
		width:280px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
		box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
	}
	
	
	#navmain ul  li {
		position:relative;
		float:left;
		clear:both;
		width:100%;
	}
	
	#navmain ul a {
		white-space:nowrap;
		width:100%;
		display:block;
		padding:10px 0 10px 10px;
		-webkit-box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, 0.25);
		box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.15) inset;
		
	}

	#navmain ul a:hover {
		color:#422f20 !important;
		background-color:#753f00 !important;
		border-top:none;
		border-right:none;
		border-left:none;
	}
	
	#page-header {
		padding:10px 2%;
	}
	
	#breadcrumbs {
		float:none;
		margin-top:0;
	}
	
	#page-header h1 {
		float:none;
		clear:both;
		margin-top:5px;
	}
	
	article ul > li:before {
		margin-top:1px !important;
	}

	.separator {
		height:1px;
	}
	
	/* columns */
	.col2a,
	.col2b,
	.col3a,
	.col3b,
	.col3c,
	.col4a,
	.col4b,
	.col4c,
	.col4d {
		float:left;
		width:48%;
	}
	
	.col2a,
	.col3a,
	.col3c,
	.col4a,
	.col4c {
		margin:0 4% 5px 0;
	}
	
	.col2b,
	.col3b,
	.col4b,
	.col4d {
		margin:0 0 5px 0;
	}

	.col3c,
	.col4c {
		clear:both;
	}
	
	/* comments */
	.commentlist li div .vcard img .avatar {
		-moz-transform:scale(0.4);
		-webkit-transform:scale(0.4);
		transform:scale(0.4);
		-ms-transform: scale(0.4,0.4);
	}

	.commentlist li div .vcard img .avatar {
		padding:0;
		left:-10px;
		position:absolute;
		top:0;
	}

	.commentlist li {
		margin:0 1% 10px 0;
		padding:5px 3px 5px 10px;
		position:relative;
	}

	.commentlist li div .comment-meta {
		position:relative;
		text-align:right;
	}
	
	#commentform input[type="text"],
	#commentform input[type="email"],
	#commentform input[type="url"],
	#commentform textarea {
		width:300px;
		display:block;
	}
	
	#commentform textarea {
		height:150px;
	}
	
	#contact-form input[type="text"],
	#contact-form input[type="email"],
	#contact-form input[type="url"],
	#contact-form textarea {
		width:300px;
	}
	
	input[type="submit"],
	button,
	.btn,
	#main .button {
		padding:6px 8px;
	}
}

/* Small Resolution */
@media screen and (max-width: 360px) {

	body {
		font-size:13px;
	}

	.header-social-widget a:before {
		font-size:12px;
	}

	.header-social-widget a {
	    height: 19px;
	    line-height: 16px;
	    text-align: center;
	    width: 19px;
	}
	
	#header-top {
		margin-top:0px;
		padding-top:5px;
	}

	#hdrtop-searchform-subcontent:before {
		width:30px;
		height:30px;
		line-height:30px;
		font-size:16px;
	}

	#hdrtop-searchform-subcontent {
		font-size:16px;
		letter-spacing:inherit;
	}

	article ul > li:before {
		margin-top:1px !important;
	}

	.separator {
		height:1px;
	}
	
	/* footer columns */
	.col1a,
	.col2a,
	.col2b,
	.col3a,
	.col3b,
	.col3c,
	.col4a,
	.col4b,
	.col4c,
	.col4d {
		float:none;
		width:96%;
		margin:0 2% 5px 2%;
	}
	
	/* comments */
	.commentlist li div .vcard img .avatar {
		-moz-transform:scale(0.4);
		-webkit-transform:scale(0.4);
		transform:scale(0.4);
		-ms-transform:scale(0.4,0.4);
	}

	.commentlist li div .vcard img .avatar {
		padding:0;
		left:-10px;
		position:absolute;
		top:0;
	}

	.commentlist li {
		margin:0 1% 10px 0;
		padding:5px 3px 5px 10px;
		position:relative;
	}

	.commentlist li div.comment-meta {
		position:relative;
		text-align:right;
	}
	
	#commentform input[type="text"],
	#commentform input[type="email"],
	#commentform input[type="url"],
	#commentform textarea {
		width:270px;
		display:block;
	}
	
	#commentform textarea {
		height:130px;
	}
	
	#contact-form input[type="text"],
	#contact-form input[type="email"],
	#contact-form input[type="url"],
	#contact-form textarea {
		width:96%;
	}
}

/* Extra-Large Resolution */
@media screen and (min-width: 1200px) {
	#page-header-content,
	#header-content-wrapper {
		margin:0 auto;
		width:1160px;
	}

	#top-widget-inner,
	#home-cols-inner,
	#bottom-widget-inner,
	#main-content-wrapper,
	#footer-content-wrapper	{
		margin:0 auto;
		width:1150px;
	}
	
	#main-content,
	#main,
	#hdrtop-searchform-subcontent {
		margin-left:0;
	}
	
	#main-content-full {
		margin:0;
		width:auto;
	}
	
	#header-content-wrapper,
	#top-widget,
	#home-cols, 
	.bottom-widget,
	.top-widget{
		padding-left:0;
		padding-right:0;
	}
	
	#sidebar {
		float:right;
		margin-right:0;
	}
	
	#footer-main {
		padding-left:0;
		padding-right:0;
	}
}

#header-slider-container {
    position: fixed;
    text-align: center;
    top: 40%;
    width: 100%;
    font-size:22px;
    color:#FFFFFF;
}

#header-slider-container h3 {
	font-size:120px;
	color:#FFFFFF;
}

#header-slider-container .slider-link a {
	border:2px solid;
	padding:10px 5px;
	border-radius:5px;
	margin-top:10px;
	display:inline-block;
	color:#FFFFFF;
}

#header-slider-container .slider-link a:hover {
	color:#748914;
}

.slider-prev,
.slider-next {
	cursor: pointer;
	font-size: 25px;
    height: 63px;
    line-height: 63px;
    margin-top: -31.5px;
    width: 63px;
	position: fixed;
	top: 50%;
	width: 63px;
	z-index: 2;
	text-align:center;
	background-color:rgba(0, 0, 0, 0.4);
	color:#ffffff;
	border-radius:1px;
}

.slider-prev {
	left: 0;
}

.slider-prev > span:before {
	font-family:'FontAwesome';
	content:'\f053';
	display: block;
}

.slider-next {
	right: 0;
}

.slider-next > span:before {
	font-family:'FontAwesome';
	content:'\f054';
	display: block;
}

.slider-dots {
	position: fixed;
    text-align: center;
    top: 90%;
    width: 100%;
    z-index: 2;
}

.slider-dots > span:before {
	background-color: rgba(0, 0, 0, 0.4);
	content: ' ';
	display: block;
	border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: 10px 5px 0;
    position: relative;
    text-indent: -9999px;
    width: 16px;	
}

.slider-current-dot:before {
	background-color: rgba(0, 0, 0, 0.7) !important;
}

.slider-dots > span:hover:before {
	background-color: rgba(0, 0, 0, 0.6) !important;
}

@media screen and (max-width: 799px) {

	#header-slider-container {
	    top: 32%;
	}

	#header-slider-container h3 {
	    font-size: 42px;
	}

	#header-slider-container {
		font-size: 20px;
	}

	.slider-dots {
	    top: 80%;
	}
}

@media screen and (max-width: 360px) {

	#header-slider-container {
	    top: 29%;
	}

	#header-slider-container h3 {
	    font-size: 26px;
	}

	#header-slider-container {
		font-size: 16px;
	}

	#header-slider-container .slider-link a {
		border:1px solid;
		padding:7px 3px;
		border-radius:3px;
		margin-top:5px;
		display:inline-block;
		color:#FFFFFF;
	}
}
